body{
    background-color: #202020;
    font-family: Germania One,serif;
}

th{
  font-size: 24px;
}

#bodybgcolor {
background-color: #202020;
}

.zoom {
transition: transform .2s; /* Animation */
}
.zoom:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


#imgHamlet {
background-color: black;
}

#imgHamlet1 {
background-image: url("images/fire1.jpg");
background-size: cover;
background-position: center center;
height: 300px;
padding: 300px;
}

#darkest{
background-image: url("images/darkestdark.webp");
background-size: contain;
background-position: center center;
}

.navbar-brand-img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.navbar-brand{
    color:azure;
    font-family: Germania One,serif;
}

.navbar {
    background-color: rgb(4, 0, 1);
    color:azure;
    font-family: Germania One,serif;
}

.nav-link{
    color:azure;
    font-family: Germania One,serif;
}

.nav-link:hover {
    color: red;
}

.nav-link:focus{
    color: red;
}

#tablebg{
    background-color: #0f0101;
    
    opacity: 0.9;
    border-radius: 0px 25px 25px 0px;
    
}

#leaderboard1{
    
    background-color: rgb(4, 0, 1,0.8);
    
}

#imgborder{
    border: 15px solid transparent;
    border-image: url(https://pics.craiyon.com/2023-05-24/8d5cdd60a38d46fc9d8590054a38c01f.webp) 25% round ;
}

#imgborder3{
    border: 30px solid transparent;
    border-image: url(images/circus11.jpg) 10% round ;
    border-bottom: 0px;
}

#imgborder1{
    border: 15px solid transparent;
    border-image: url(https://pics.craiyon.com/2023-05-24/8d5cdd60a38d46fc9d8590054a38c01f.webp) 25% round ;
}





#footercontain{
    background: #211918;
    position: relative;
    color: azure;
}

#footerimg1{
background-image: url("images/arena1.png");
background-size: cover;
background-position: center center;
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.3;
}

#footercontain1{
    background: #211918;
    position: relative;
    color: azure;
    

}

#footerimg2{
background-image: url("images/arena.entrance_room_wall_darkest.png");
background-size: cover;
background-position: center center;
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.3;
}

#footertext{
    isolation: isolate;
    
}

 #leadertext{
    isolation: isolate;
}

#imgdiv {
background-image: url("images/loading_screen.town_circus_visit1.png");
background-size: cover;
background-position: center top;
width: 100%;
height: 350px;
}

.borderdarkimgtop{
    background-image: url("images/Loading_screen_Crypts.webp");
background-size: cover;
background-position: center center;
width: 100% auto;
height: 200px;
position: relative;
}

.finisherbot{
background-color: #211918;
background-size: cover;
background-position: center center;
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.3;
}

#table1{
  opacity: 1;
  color: white;
}

.fixfonts{
  font-size: 24px;
}


.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}     
#navbarbg{
  background-color: #0d0000;
  border: 5px solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(87, 1, 1, 0.253);
  
  
}

#newsletter1{
  color: white;
  background-color: #0d0000;
}

#leaderboardBody{
    background-color: #371603 ;
  font-size: 20px;
}

.textContent{
  text-align: center;
  font-size: 20px;
}

.bottomplayer{
  background-color: #603D18;
}
.topplayer{
  background-color: #8c0000;
  
}

.formstyle{
  color: white;
  background-color:#0d0000;
}
#passwordblock{
  text-align: center;
  position: absolute; 
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  margin: auto; 
  z-index: -2;
  max-width: 400px;
  height: 100%;
  max-height: 500px;
  background-color: #080000;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(100%);
  border: solid 2px;
  border-color: #550000;
  border-radius: 25px;
}

#passwordblock.toggled{
  position: fixed; 
  opacity: 1;
  z-index: 2;
  transition: 0.5s;
  transform: translateX(0%);
}

#overlayform{
  position: fixed; 
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  margin: auto; 
  z-index: -2;
  max-width: 600px;
  height: 100%;
  max-height: 900px;
  background-image: url("images/background.jpg");
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
  border: solid 2px;
  border-radius: 25px;
}

#footercontain.toggled{
  opacity: 0.3;
}

#nav-toggled.toggled{
  opacity: 0.3;
}

#body-toggled.toggled{
  opacity: 0.3;
}

#overlayform.toggled{
  position: fixed; 
  opacity: 1;
  z-index: 2;
  transition: 0.5s;
  transform: translateY(0%);
}

.overformbtn{
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.champstats{
  background-size: cover;
  width: 300px;
  border: solid 5px;
  padding: 5px;
  font-size: 20px;
  border-color: #313131;
  display: block;
}
body{
  background-color: #080000;
  color: aliceblue;
}
#usernameblock{
  display: none;
  z-index: -2;
  opacity: 0;
  height: 0px;
  
}
#usernameblock.toggled{
  display: block;
  opacity: 1;
  height: auto;
}
#profilepic{
  display: none;
}
#profilepic.toggled{
  display: block;
}

input[type="file"] {
background-color: #080000;
}

.custom-file-upload {
border: 1px solid #ccc;
display: inline-block;
padding: 6px 12px;
cursor: pointer;
}

#circusbg{
  background-image: url(images/loading_screen.town_circus_visit.png);
  background-size: cover;
  background-position: top;
  }

#tableborder{
  border: 45px solid transparent;
    border-image: url(images/border6.png) 25% round ;
    border-image-slice: 60;
    border-top: 0;
    overflow: auto;
}

#tableborder1{
    border: 45px solid transparent;
    border-image: url(images/border7.png) 25% round ;
    border-image-slice: 45;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#tableborder::-webkit-scrollbar {
width: 12px;               /* width of the entire scrollbar */
}

#tableborder::-webkit-scrollbar-track {
background: rgb(54, 35, 0);        /* color of the tracking area */
}

#tableborder::-webkit-scrollbar-thumb {
background-color: rgb(110, 2, 2);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}